<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="gam-api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <!-- Required for IIS7 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
      <security>
        <requestFiltering>
          <!-- 1048576000 will handle requests up to 1024MB (1GB) -->
          <requestLimits maxAllowedContentLength="124857600"></requestLimits>
        </requestFiltering>
      </security>
      
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="300" maxRequestLength="130000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <customErrors mode="Off" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="SOME_API_KEY" value="XYZ123" />
    <add key="CONEXION_BD_GAM" value="Server=localhost;Database=monitoreo;UID=root;Allow Zero Datetime=true;" />
    <!--    <add key="CONEXION_BD_GAM" value="Server=192.168.10.10;Database=monitoreo;UID=root;Password=secret;Allow Zero Datetime=true;" />   !-->
    
    <add  key="AlivioEmocionalParametros" value="{ProyectoId:14,CodigoEncuesta:00000001,CodigoEPreguntaComoMeSiento:00000001,LineaDeAccionId:15}" />
    <add  key="RutaSoportes" value="C:\Code\plataformaME" />
    
  </appSettings>
</configuration>